body {
    margin: 0;
    padding: 0;
}

section {
    width: 50%;
    margin: 50vh auto;
    display: flex;
    }
button {
    border: 2px solid;
    padding: 1% 0.5%;
    min-width: 190px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    min-height: 30px;
    margin-right: 1%;
    background: #ffffff 100% 0;
    /*background-position: 100% 0;*/
    background-size: 400%;
}

button::first-letter {
    font-size: 22px;
    font-weight: 700;
}

.purple {
    color: #8e44ad;
    border-color: #8e44ad;
    background-image: linear-gradient(to right, #8e44ad 50%, transparent 50%);
    transition: 0.9s;
}

.purple:hover {
    background-position: 0 100%;
    color: #ffffff;
}

.yellow {
    color: #ffff00;
    border-color: #ffff00;
    background-image: linear-gradient(45deg, #ffff00 50%, transparent 50%);
    transition: 0.9s;
}

.yellow:hover {
    background-position: 0 100%;
    color: #ffffff;
}

.blue {
    color: #7070db;
    border-color: #7070db;
    background-image: linear-gradient(135deg, #7070db 50%, transparent 50%);
    transition: 0.9s;
}

.blue:hover {
    background-position: 0 50%;
    color: #ffffff;
}

@media only screen and (max-width: 600px) {
    button {
        min-width: 30%;
        font-size: 12px;
    }
}
